*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-size: 100%;
}

body {
    height: 100%;
    /*background-image: url(../assets/images/tree_forest.jpeg);*/
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

h1 {
    position: fixed;
    z-index: 0;
    color: white;
}

.chat-navigate{
    color: #ff3300;
    font-weight: 600;
    background-color: #7AE1E1;
    border-radius: 5%;
    padding: 10px;
}

.chat-view{
    background-color: #ff3300;
    padding: 20px;
    margin: 10px;
    margin-left: 300px;
    min-height: 80%;

}

.chat-window{
    overflow: scroll;
    height: 600px;
    width: 600px;
    margin-bottom: 80px;
    /*padding-left: 60px;
    text-align: center;
    color: white;*/

}

.chat-messages{
    /*border: solid 1px white;*/
    padding-top: 100px;
    /*padding-bottom: 20px;*/
    margin: 0;
    /*text-align: left;*/
}

.chat-contents{
    padding: 2px;
    /*border-radius: 5%;*/
    text-align: left;
    background-color: white;
    color: black;
}

.chat-user-info{
    text-align: right;
}

.sidebar {
    width: 25%;
    background-color: #ff3300;
    color: white;
    height: 100%%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-header {
    position: fixed;
    z-index: 0;
    color: white;
}

.sidebar-nav {
    top: 75px;
    right: 15px;
    z-index: 3;
    position: relative;
    color: white;
    font-size: 75%;
    text-align: right;
}

.roomName {
    display: block;
}

.chatroom {
    width: 80%;
    float: right;
    text-align: left;
    color: #4c4949;
    position: relative;
    z-index: 6;
}

.chatroom-name {
    color: #009999;
}

p {
    top: -20px;
    padding: 5px;
    display: inline;
}

.chatroom-username {
    color: black;
}

.chatroom-time {
    font-style: italic;
    text-align: right;
    font-size: 45%;
}

.modal {
    border: none;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 6;
    background-color: white;
    color: #ff3300;
    width: 30%;
    bottom: -150px;
    margin: auto;
}

.modal-dialog {
    backgroun

}

.roomName:hover {
    cursor: pointer;
}

.btn{
    background-color: white;
    border: 1px;
    border-color: #ff3300;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ff3300;
}

.send-message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 15px;
    display: inline-block;
    color: #ff3300;
    padding: 10px;
}

.message-entry {
    float: left;
    width: 80%;
}

.message-entry .btn {
    margin: 10px;
}

.navbar {
    position: fixed;
    top: 9rem;
    padding: 0.5rem;
    width: 100%;
    height: 50px;
    font-family: 'Coda Caption', sans-serif;
    /*background-image: url(../assets/images/evergreen_forest.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
}

.chat-dropdown {
    position: absolute;
    left: 2rem;
    top: 0;
    padding: 1rem;
    color: rgb(53,78,134);
    cursor: pointer; /* produces the finger pointer icon when you hover over the logo */
}

.register-link {
    position: absolute;
    left: 44%;
    top: 0;
    padding: 1rem;
    color: rgb(53,78,134);
    cursor: pointer; /* produces the finger pointer icon when you hover over the logo */
}

.login-dropdown {
    position: absolute;
    right: 2rem;
    top: 0;
    padding: 1rem;
    color: rgb(53,78,134);
    cursor: pointer; /* produces the finger pointer icon when you hover over the logo */
}

.ion-arrow-down-b {
  position: relative;
  color: rgb(53,78,134);
  cursor: pointer; /* produces the finger pointer icon when you hover over the logo */
}


/* #5 */
.links-container .navbar-link:hover {

}

.container {
    margin: 0 auto;
    max-width: 64rem;
}

.container.narrow {
    max-width: 56rem;
}

/* Medium and small screens (640px) */
@media (min-width: 640px) {
    html { font-size: 112%; }

    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 120%; }
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
