.modal-container {
    position: absolute;
    z-index: -2;
    background-color: white;
    color: #ff3300;
    text-align: center;
    margin-left: 30%;
    margin-top: 75px;
    top: 100px;
}

.modal-body {
    position: relative;
    display: inline-block;
}
