.modal-container {
    position: absolute;
    z-index: -2;
    background-color: #ff3300;
    color: white;
    width: 20%;
    text-align: center;
    margin-left: 30%;
    margin-top: 75px;
    top: 100px;
}

.modal-body {
    position: relative;
    display: inline-block;
}

button {
    border: none;
    text-decoration: none;
    background-color: #009999;
    color: white;
}
